<div class="main-div backgroundGray">
<mat-card>
   <mat-card-header>
     <h2>Login</h2>
   </mat-card-header>
   <mat-card-content>
     <mat-form-field [formGroup]="loginForm">
      <tr>
        <td>
        <input matInput placeholder="Email" type="text" formControlName="username" class="form-control" required/>
        </td>
      </tr>
     </mat-form-field>
     <br>
     <mat-form-field [formGroup]="loginForm">
       <tr>
         <td>
     <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" required/>
         </td>
       </tr>
    </mat-form-field>
   </mat-card-content>
  <mat-card-actions>
  <button mat-flat-button type="submit" (click)="auth.normalSignin(username.value,password.value)">
    Connect with email
  </button>
  <button mat-flat-button (click)="auth.googleSignin()">
   <i class="fa fa-google"></i> Connect Google
  </button>
</mat-card-actions>
</mat-card>
</div>
