<div class="main-div backgroundGray">
  <mat-card>
    <mat-card-header>
      <h2>Add new product</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field [formGroup]="productGroup">
        <tr>
          <td>
            <input matInput placeholder="Name" type="text" formControlName="name" class="form-control" required/>
          </td>
        </tr>
      </mat-form-field>
      <br>
      <mat-form-field [formGroup]="productGroup">
        <tr>
          <td>
            <input matInput placeholder="price" type="text" formControlName="price" class="form-control" required/>
          </td>
        </tr>
      </mat-form-field>
      <br>
      <mat-form-field [formGroup]="productGroup">
        <tr>
          <td>
            <input matInput placeholder="weight" type="text" formControlName="weight" class="form-control" required/>
          </td>
        </tr>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button type="submit" (click)="this.add()">
        Add
      </button>
    </mat-card-actions>
  </mat-card>
</div>


