<div class="main-div backgroundGray">
  <mat-card>
    <mat-list *ngFor="let product of products | async">

      <mat-card>
        <mat-card-title>
            {{product.name}}
        </mat-card-title>
        <mat-card-content>
          <p>
            {{product.weight}} grams
          </p>
          <p>
            {{product.price | currency}}
          </p>
          <button mat-icon-button (click)="setSelectedProduct(product)">Edit</button>

          <button mat-icon-button (click)="this.deleteProduct(product.uid)">Delete</button>
        </mat-card-content>
      </mat-card>

    </mat-list>
  <button mat-raised-button routerLink="/product-add">New product</button>
  </mat-card>
</div>
